<%= form_for ([@bill, @bill.payments.build]) do |f| %>
<div class="container paymentinput well sidebar-nav">
  <div class="col-md-5">

    <p>
      <%= f.label :bill_status %><br>
      <%= f.select :bill_status, [["***Select***"], ["Paid"], ["Not Paid"]], class: 'form-control', autofocus: true, :placeholder => "Bill Status" %>
    </p>
    <p>
      <%= f.label :amount_due %><br>
      <%= f.text_field :amount_due, { "onkeypress"=>"return isNumber(event)", class: 'form-control', autofocus: true, :placeholder => "Amount Due" } %>
    </p>
    <p>
      <%= f.label :amount_paid %><br>
      <%= f.text_field :amount_paid, { "onkeypress"=>"return isNumber(event)", class: 'form-control', autofocus: true, :placeholder => "Amount Paid"} %>
    </p>
    <p>
      <%= f.label :balance %><br>
      <%= f.text_field :balance, class: 'form-control', autofocus: true, :placeholder => "Balance" %>
    </p>

  </div>
  <div class="col-md-5">

    <p>
      <%= f.label :date_of_payment %><br>
      <%= f.date_select :date_of_payment, class: 'form-control', autofocus: true, :placeholder => "Date of Payment" %>
    </p>
    <p>
      <%= f.label :next_payment_date %><br>
      <%= f.date_select :next_payment_date, class: 'form-control', autofocus: true, :placeholder => "Next Payment Date" %>
    </p>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_field :comment, class: 'form-control', autofocus: true, :placeholder => "Comment" %>
    </p>
    <p>
      <%= f.label :paid_by %><br>
      <%= f.text_field :paid_by, class: 'form-control', autofocus: true, :placeholder => "Paid By" %>
    </p>
  </div>
  
</div>
<p>
  <%= f.submit class: "btn btn-defalt btn-color"%>
</p>

<% end %>

<!-- This section of the code is javascript. what it does is to calculate the amound paid from the amount due on the form and give the aswers as the balance. the balance automatically appears as = the input is made on the amount paid and amount due textbox -->

<script type="text/javascript">
  calculate = function(){
   var a = $("#payment_amount_due");
   var b = $("#payment_amount_paid");
 // var c = $('#expenditure_utility_bills');

 if(a.val() == '' || b.val()==''){
   return;
 }

 var balance = parseFloat(a.val()) - parseFloat(b.val());
 $("#payment_balance").val(balance);
};
$("#payment_amount_due").on("change", calculate);
$("#payment_amount_paid").on("change", calculate);
// $("#expenditure_utility_bills").on("change", calculate);

function isNumber(evt) {
 evt = (evt) ? evt : window.event;
 var charCode = (evt.which) ? evt.which : evt.keyCode;
 if (charCode > 31 && (charCode < 48 || charCode > 57)) {
   return false;
 }
 return true;
}
</script>
