<p>
	<strong>bill_status:</strong>
	<%= payment.bill_status %>
</p>
<p>
	<strong>amount_due:</strong>
	<%= payment.amount_due %>
</p>
<p>
	<strong>amount_paid:</strong>
	<%= payment.amount_paid %>
</p>
<p>
	<strong>balance:</strong>
	<%= payment.balance %>
</p>
<p>
	<strong>date_of_payment:</strong>
	<%= payment.date_of_payment %>
</p>
<p>
	<strong>next_payment_date:</strong>
	<%= payment.next_payment_date %>
</p>
<p>
	<strong>comment:</strong>
	<%= payment.comment %>
</p>
<p>
	<strong>paid_by:</strong>
	<%= payment.paid_by %>
</p>
