




<%= link_to 'Back', bills_path %> |
<%= link_to 'Edit', edit_bill_path(@bill) %>



<div class="container">
	<div class="col-md-6">
		<div class="panel panel-primary border">
			<div class="panel-heading panel-green">
				<h4>BILL</h4>
			</div>
			<div class="panel-body">
				<p>
					<strong> Name of Bill:</strong>
					<%= @bill.name %>
				</p>

				<p>
					<strong> Description of Bill:</strong>
					<%= @bill.description %>
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary border">
			<div class="panel-heading panel-green">
				<h4>Company to pay Bill to:</h4>
			</div>
			<div class="panel-body">
				<p>
					<%= render @bill.companies %>
				</p>
			</div>
		</div>	
	</div>
</div>
<div class="container">
	
	<h3>Add a company:</h3>
	<%= render "companies/form" %>

	<%= link_to 'Back', bills_path %> |
	<%= link_to 'Edit', edit_bill_path(@bill) %>
</div>