<p>
	<strong>Logo:</strong>
	
	<%= link_to (image_tag company.logo.url(:medium), class: 'logo', :size => "70x70"), [company.bill, company] %>
</p>
<p>
	<strong>Name:</strong>
	<%= company.name %>
</p>
<p>
	<strong>Address:</strong>
	<%= company.address %>
</p>
<p>
	<strong>Contact:</strong>
	<%= company.contact %>
</p>

<p>
	<%= link_to 'Destroy Company', [company.bill, company],
	method: :delete,
	data: { confirm: 'Are you sure you want to delete?' } %>
</p>